*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to right,#6157ff,#EE49FD);
    gap: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    backdrop-filter: blur(400px);
    background: rgba( 255, 255, 255, 0.4);
    gap: 30px;
    border-radius: 50%;
}

h1{
    font-size: 64px;
    font-weight: bold;
    background: linear-gradient(to left, #103ce7, #bb17ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
